<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.lklbjn.passkey.passkeydemo.mapper.WebauthnCredentialMapper">
  <resultMap id="BaseResultMap" type="io.github.lklbjn.passkey.passkeydemo.model.entity.WebauthnCredential">
    <!--@mbg.generated-->
    <!--@Table webauthn_credential-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="credential_id" jdbcType="VARCHAR" property="credentialId" />
    <result column="public_key_cose" jdbcType="LONGVARCHAR" property="publicKeyCose" />
    <result column="signature_count" jdbcType="BIGINT" property="signatureCount" />
    <result column="transports_json" jdbcType="VARCHAR" property="transportsJson" />
    <result column="registration_time" jdbcType="TIMESTAMP" property="registrationTime" />
    <result column="backup_eligible" jdbcType="BOOLEAN" property="backupEligible" />
    <result column="backup_state" jdbcType="BOOLEAN" property="backupState" />
    <result column="credential_registration_request" jdbcType="VARCHAR" property="credentialRegistrationRequest" />
    <result column="credential_registration_result" jdbcType="VARCHAR" property="credentialRegistrationResult" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, username, display_name, credential_id, public_key_cose,
    signature_count, transports_json, registration_time, backup_eligible, backup_state, credential_registration_request
    , credential_registration_result, `describe`
  </sql>
</mapper>